{%extends "template.html"%}
{%block body%}


<!doctype html>
<html lang="pt-br">
  <head>
  <meta charset=utf-8>
    <title>Vai Frete</title>

    <!-- onLoad Modal-->
    <script type="text/javascript">
        $(window).load(function(){
          //$('#ModalCadastro').modal('show');

            $('#btnRefresh').click(function(){  
                 $.get('listDeliveries', function(data){

                  $('#deliveryTable').html(data);           
              });
            });

            $('#btnNewFrete').click(function(){  
                 $.get('createDeliverFee', function(data){

                  $('#modal-content').html(data);           
              });
            });
        
           


 



        });

    </script>
     
<!--

 $('#btnNewFrete').click(function(){
                                        $.get('deliverFee', function(data){
                                        $('#deliveryModal').html(data);

                 }
            });
-->

  </head>


 <body>

    

    <div class="container">



    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8"><image src="../images/mapatemplate.png" /></div>
      <div class="col-xs-6 col-md-4">
          <img src="../images/user.png">
          <h3>Jose Beltrano</h3>
          <h4><strong>moto</strong></h4>
          <p>Tel.: (11) 2134.1234</p>
          

      </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><p class="text-center">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalFrete" id="btnNewFrete">Fazer novo frete</button>
    <button type="button" class="btn btn-danger" id="btnRefresh">Refresh</button>



    </p></div>
      <div class="col-xs-6 col-md-4"></div>

    <div class="row">
    
      <div class="table-responsive" id="deliveryTable">
      
      </div>
    </div>


      <!-- Modal de Cadastro -->

     

        <!-- Modal -->
        <div class="modal fade" id="ModalCadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title" id="myModalLabel">Faça aqui seu cadastro</h4>
              </div>

              <div class="modal-body">

              				<p class="text-center">
              					
              					<img src="../images/logo.png">

              				</p>

                          <p class="text-center">
                            <button type="button" class="btn btn-primary btn-lg"><a class="white" href="{%url views.login %}">Efetue o login com sua conta do Google</a></button>
                            </p>
                            <p>
                            	<a data-toggle="modal" href="http://www.terra.com.br" data-target="#modal">Click me</a>
                            </p>
                          
              </div>
              <!--<div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- Modal de Solicitação de Frete -->

        <!-- Modal -->
        <div class="modal fade" id="ModalFrete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title" id="myModalLabel">Faça a solicitação do Frete</h4>
              </div>

              <div class="modal-body">

                      <div id="modal-content">
                        

                      </div>
                        
                        
                          
              </div>
              <!--<div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
       

    </div><!-- /.container -->


    </div>

  </body>
</html>


{%endblock%}